h1 {
    color: blue;
}

nav {
    border: 2px solid red;
}

.sort-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.sort-list li {
    list-style-type: none;
}

html, body {
    height: 100%;
}

.email-list {
    border: 2px solid green;
    width: 40%;
    height: 100%;
    overflow: auto;
}

.details {
    border: 2px solid blue;
    width: 60%;
    height: 100%;
}

.details div {
    margin: 20px;
}

.main-container {
    display: flex;
    height: 80%;
}
