h1 {
    color: blue;
}

html, body {
    height: 100%;
}

.email-list {
    border: 2px solid green;
    width: 35%;
    height: 100%;
    overflow: auto;
}

.details {
    border: 2px solid blue;
    width: 60%;
    height: 100%;
}

.details div {
    margin: 20px;
}

.main-container {
    display: flex;
    height: 80%;
}
